@charset "UTF-8"
body {
    background-color: lightskyblue;
    font-family: Anonymous Pro;
    font-size: 18px;
}
h1 {
    color: darkblue;
    background-color: rgb(255, 115, 0);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}